
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="{% url 'uprec' members.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="firstname" value="{{members.firstname}}"><br><br>
        <input type="text" name="lastname" value="{{members.lastname}}"><br><br>
        <input type="text" name="email" value="{{members.email}}"><br><br>
        <button type="submit">Update</button>
    </form>

</body>
</html>